<div class="text-content">
    <h1>Nu jävlar är det fest!</h1>
    <p>Vad gör vi? Nu kör vi! Jävlar vad med fest det ska bli! Full fart frammåt!</p>
</div>

<div class="text-content">
    <table class="default-table">
        <tr>
            <td class="table-label">När?</td>
            <td>25 augusti 2018</td>
        </tr>
        <tr>
            <td class="table-label">Var?</td>
            <td>Söderut. Typ ganska långt. Ser du solen är det för långt.</td>
        </tr>
        <tr>
            <td class="table-label">Hur?</td>
            <td>Du är med och påverkar! <a href="/event">Lämna förslag här</a>!</td>
        </tr>
    </table>
</div>
