<div class="text-content">
    <h1>Svensexa!</h1>
    <p>Dags att fira Mikael Gard Höjdegårds "sista dagar som fri man"!
       Skulle därför gärna se att så många som möjligt följde med.
       Så gör vi detta till en dag att minnas.</p>
</div>

<div class="text-content">
    <table class="default-table">
        <tr>
            <td class="table-label">När?</td>
            <td>Vi tänkte lördagen den 25:e augusti. Gå gärna in och <a href="/register">anmäl om du kommer eller inte.</a></td>
        </tr>
        <tr>
            <td class="table-label">Var?</td>
            <td>I närheten av Nordvästra Skåne, då vi inte vet exakt vad det blir för aktiviteter så får vi återkomma om detta.</td>
        </tr>
        <tr>
            <td class="table-label">Hur?</td>
            <td>Aktiviteter är som sagt inte bestämda. Var med och påverka! <a href="/event">Lämna förslag här</a>!</td>
        </tr>
    </table>
    <br>
    <h3>Kontakt och hjälp</h3>
    <p>Hoppas att snart ha möjlighet till kommentarer och diskussion här på sidan. Men var inte rädd att höra av dig till <span class="attending">Fredrik</span> eller <span class="attending">Kim</span>. Tar gärna emot tankar och idéer för att få en fantastisk dag tillsammans.</p>
</div>
