<!DOCTYPE html>
<html>
  <head>
    <title>Gardfest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include common/scripts %>
  </head>
  <body>
    
    <div class="wrapper">
        <header class="main-head">
                <% include common/head %>
        </header>
        <nav class="main-nav">
                <% include common/nav %>
        </nav>
        <aside class="leftside">LSidebar</aside>
        <article class="content">
            <%- body %>
        </article>
        <aside class="rightside">RSidebar</aside>
        <footer class="main-footer">The footer</footer>
    </div>
  </body>
</html>
