<!DOCTYPE html>
<html>
  <head>
    <title>Gardfest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include common/scripts %>
  </head>
  <body>

    <div class="wrapper">
        <header class="main-head"></header>
        <nav class="main-nav">
          <% include common/nav %>
        </nav>
        <article class="content">
          <%- body %>
        </article>
    </div>
  </body>
</html>
