<div class="row">
        <div class="col-md-12">
            <p>Antalet anmälda: <%= attending %></p>
            <form method="post" id="regForm" action="/register/fix">
                <div>
                    <input type="text" class="inputTextField" name="name" placeholder="Ditt namn">
                    <input class="submitbutton" type="submit" value="Submit">
                </div>
            </form>
            <div id="NewStuff"></div>
        </div>
    </div>