<div class="text-content">
    <h1>Kom igen, det blir kul!</h1>
    <p>Vi är just nu <span class="attending"><span class="attending-number"><%= attending %></span> personer</span> som ska ha kul tillsammans. Klart du också ska med!</p>
    <form method="post" id="regForm" class="registerform" action="/register/fix">
        <input type="text" class="inputTextField" name="name" placeholder="Ditt namn">
        <div class="formactions">
            <input class="submitbutton" type="submit" value="Jag kommer!">
            <button class="cancelbutton" type="button">Jag kan inte...</button>
        </div>
    </form>
    <div class="registerform-response hide">
        <p>Fantastiskt, <span class="js-register-name">Fredrik</span>! Ses den <span class="event-date">25 augusti 2018</span>!</p>
    </div>
</div>
