<div class="text-content">
    <h1>Schema!</h1>
    <p>Då är det dags för det roliga, vi kommer att hålla oss i Helsingborgs regionen 
       och kommer att bli allt från Paintball för hela gänget till att Micke åker Flyboard.
       Sen hoppas vi även på god mat och dryck hela dagen.</p>
</div>

<div class="text-content">
    <h3>Lördagen den 25:e augusti</h3>
    <table class="default-table">
        <tr>
            <td class="table-label">09.00</td>
            <td>Tänkte att vi <span class=attending>plockar upp Micke</span>, hemma. Kanske lite gott?</a></td>
        </tr>
        <tr>
            <td class="table-label">11.00</td>
            <td><span class=attending>Paintball</span> i Bårslöv</td>
        </tr>
        <tr>
            <td class="table-label">14:00</td>
            <td><span class=attending>Lunch</span> i Helsingborg</td>
        </tr>
        <tr>
            <td class="table-label">16:30</td>
            <td><span class=attending>Flyboard</span> för Micke i Norra Hamnen</td>
        </tr>
        <tr>
            <td class="table-label">17:15</td>
            <td><span class=attending>Party</span> tills vi ger upp.</td>
        </tr>
    </table>
    <br>
    <h3>Länkar</h3>
    <p><a href target="_blank" href="http://www.pfapaintball.se/">Paintball</a> - PFA Paintball</p>
    <p><a href target="_blank" href="https://www.2xtreme.se/">Flyboard</a> - 2xtreme AB</p>
</div>
