<div class="text-content">
    <h1>Schema!</h1>
    <p>
       Då är det dags för det roliga, vi kommer att hålla oss i Helsingborgs regionen under dagen
       och det kommer att bli allt från Paintball för hela gänget till att Micke åker Flyboard.
       Efter Helsingborg kommer vi åka till Asmundtorp och ladda med "hemmafest", poolparty, mat och dryck.
       Slutligen åker vi in och kör en hederlig runda i Landskrona.
    </p>
</div>

<div class="text-content">
    <h3>Lördagen den 25:e augusti</h3>
    <table class="default-table">
        <tr>
            <td class="table-label">09.00</td>
            <td>Samlas upp utanför och <span class=attending>plockar upp Micke</span>, hemma.<br><a target="_blank" href="https://goo.gl/maps/q9aLF9iTRN22">Bytaregatan 8,</a> Landskrona</td>
        </tr>
        <tr>
            <td class="table-label">11.00</td>
            <td><span class=attending>Paintball</span> i Bårslöv</td>
        </tr>
        <tr>
            <td class="table-label">14:00</td>
            <td><span class=attending>Lunch</span> i Helsingborg</td>
        </tr>
        <tr>
            <td class="table-label">16:30</td>
            <td><span class=attending>Flyboard</span> för Micke i Norra Hamnen</td>
        </tr>
        <tr>
            <td class="table-label">17:15</td>
            <td><span class=attending>Party</span> tills vi ger upp. Först Asmundtorp och till slut pubrunda i Landskrona.</td>
        </tr>
    </table>
    <br>

    <h3>Transport</h3>
    <p>
        Vi kommer vara sammanlagt 10 personer och vi har lyckats fixa en buss som tar 8 personer. Fredrik och Kim tänker att vi klarar alla 10 med den bussen. <span class=attending>Vill dock höra om någon har väldigt starka invändningar mot detta?</span> Hör då gärna av er till Kim.
    </p>

    <h3>Kostnader</h3>
    <p>
            Kostnaderna kommer att täcka allt fram till kvällens pubrunda och vi tänker <span class=attending>Tusen kronor per person. Ser gärna att detta är Swishat till Fredrik under nästa vecka.</span>
            Visar det sig att det slutar på 900 så kommer vi självklart Swisha eller ta en runda på stan om folk hellre vill detta.<br>
            Detta innefattar:<br>
            <ul>
                <li>Paintball 450</li>
                <li>Flyboard till Micke 110</li>
                <li>Mat och dryck</li>
            </ul>
    </p>

    <h3>Ha med</h3>
    <p>
            <ul>
                    <li>Paintball T-shirt (Man får låna overall)</li>
                    <li>Hänga i Helsingborg kläder. (Typ ren T-shirt efter paintballen då det är oklart med duschmöjligheter)</li>
                    <li>Badkläder ( Finns pool i Asmundtorp )</li>
                    <li>Partykläder för kvällen</li>
            </ul>
    </p>

    <h3>Förfriskning</h3>
    <p>
            Det kommer att finnas mat för tillfällen under dagen. Även dryck men mest i form av Lager öl.
            Så visar det sig att ni är finsmakare så är det på eget ansvar att ta med till sig och kanske Micke då han blivit lite av en suröl/impstout-snobb.<br>
            <span class=attending>Att tänka på dock är att vi försöker ta det lugn åtminstone under dagen då Micke kommer 16:30 att utföra något han inte vill missa.</span>
    </p>

    <h3>Länkar</h3>
    <p><a target="_blank" href="http://www.pfapaintball.se/">Paintball</a> - PFA Paintball</p>
    <p><a target="_blank" href="https://www.2xtreme.se/">Flyboard</a> - 2xtreme AB</p>
</div>
