body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #000
}
 

a {
  color: #00B7FF;
}

.inputTextField,
input[type=text], select {
  padding: 12px 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.cancelFormButton,
.showFormButton,
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.showFormButton
{
  width: 100%;
}

.cancelFormButton {
  background-color: lightcoral;
  color: white;
  padding: 14px 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.eventBlock {
  background-color: #00B7FF;
  color: darkblue;
  border-radius: 4px;
  margin: 2px;
}

/* The hero image */
.hero-image {
  /* The image used */
  background-image: url("/image/hero.png");

  /* Set a specific height */
  width: 100%;
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  min-height: inherit;
  max-height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.main-head {
  grid-area: header;
  min-height: 200px;
  max-height: 450px;
  background-color: black;
}

.content {
  grid-area: content;
  min-height: 600px;
  background-color: lightgrey;
}

.main-nav {
  grid-area: nav;
  background-color: grey;
}

.leftside {
  grid-area: leftsidebar;
  background-color: lightgrey;
}

.rightside {
  grid-area: rightsidebar;
  background-color: lightgrey;
}

.main-footer {
  grid-area: footer;
  min-height: 100px;
  background-color: lightgrey;
}

div.registerformdiv
{
  display: block;
  text-align: center;
}
.registerform
{
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 20px;
}

div.eventformdiv
{
  display: none;
  text-align: center;
}
.eventform {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 20px;
}

@media (min-width: 0px) {
  .leftside {
    display: none;
  }

  .rightside {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "leftsidebar"
      "content"
      "rightsidebar"
      "footer";
    grid-template-rows: 25% auto auto 10%;
  }

  button,
  input,
  textarea {
    width: 100%;
    border: 1px solid #000;
  }

  .btn-group {
    display: grid;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

@media (min-width: 500px) {
  .leftside {
    display: none;
  }

  .rightside {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header header"
      "nav nav"
      "content content"
      "footer footer";
    grid-template-rows: 25% 50px auto 10%;
  }

  button,
  input,
  textarea {
    width: 75%;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-group {
    display: grid;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 1000px) {
  .leftside {
    display: initial;
  }

  .rightside {
    display: initial;
  }

  .wrapper {
    grid-template-columns: auto 1000px auto;
    grid-template-areas: 
      "leftsidebar header rightsidebar"
      "leftsidebar nav rightsidebar"
      "leftsidebar content rightsidebar"
      "leftsidebar footer rightsidebar";
    grid-template-rows: 25% 50px auto 10%;
   }
}

.btn-group linkbutton {
  background-color: lightgrey;
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.btn-group linkbutton:hover {
  background-color: #3e8e41;
}