<div class="btn-group">
    <linkbutton onclick="window.location.href='/'" >Start</linkbutton>
    <linkbutton onclick="window.location.href='/register'" >Anmäl dig</linkbutton>
    <linkbutton onclick="window.location.href='/admin'" >Admin</linkbutton>
    <linkbutton onclick="window.location.href='/event'" >Event förslag</linkbutton>
</div>